.bottomBar {
    height: 60px;
    position: fixed;
        bottom: 0;
        width: 75%;
    background-color: var(--light-grey);
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

@media only screen and (max-width: 900px) {
    .bottomBar{
        position: relative;
        width: 100%;
    }
}