.topbar {
    width: 100%;
    height: 60px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: end;
    padding-right: 31px;
    align-items: center;
}

.avatar {
    height: 49px;
    width: 49px;
    margin-right: 9px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
}
.menuButton {
    position: absolute;
    align-items: center;
    left: 5px;
    display: none;
    top: 10px;
    z-index: 2;
}
.position {
    font-size: var(--fs-14);
    font-weight: var(fw-normal);
}

@media only screen and (max-width: 900px) {

.menuButton{
    display: block;
}
.topbar{
    width: 100vw;
    position: static;
}

}