.topbar {
    width: 100%;
    height: 60px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: end;
    padding-right: 31px;
    align-items: center;
}

.information {
    margin-right: 2vw;
}

.avatar {
    height: 49px;
    width: 49px;
    margin-right: 9px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
}

.position {
    font-size: var(--fs-14);
    font-weight: var(fw-normal);
}