.filterBtn:hover {
    background-color: var(--black);
    color: var(--primary-color);
}
.header{
    display: block;
}
.filterBtn {
    margin-left: 30px;
}

.headerButton {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.headerBtn:hover {
    background-color: var(--light-grey);
}

.icon {
    margin-left: 10px;
    cursor: pointer;
}