.sumary{
    padding-bottom: 16px;
    width: 80vw;
}
.dashboardContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 16px;
    margin-right: 5px;
    width: 100%;
    height: 85vh;
    justify-content: start;
}

.sumaryDetail {
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    color: var(--light-blue);
}

.income, .payment {
    color: var(--dark-grey)
}