.container {
    display: flex;
    overflow: hidden;
    align-items: stretch;
    justify-content: space-around;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 16px;
    margin-right: 5px;
    width: 100%;
    height: 85vh;
    justify-content: space-between;
}
