.table {
    width: 80vw;
    align-items: center;
    margin-top: 16px;
    padding-right: 5px;
}

.buttonContainer{
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin-bottom: 16px;
}

.searchInput {
    margin-right: 16px;
}

.addButton:hover, .addButton.active{
    background-color: var(--black);
    color: var(--white);
}

.dateBtn {
    margin-left: 5px;
}

.btnWrap {
    display: flex;
}

.filterContainer {
    padding: 8px
}

.priceSlider{
    width: 300px;
    padding: 5px 35px;
}

.rightSearchBar {
    display: flex;
    align-items: center;
}